@using System.ComponentModel.DataAnnotations
@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    @model InputRedefinePasswordUser
    @{
        ViewData["Title"] = "Redefinir Senha";
    }
</head>
<body>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="text-center mb-4">
            <h1 class="display-4">Redefinir senha</h1>
        </div>

        <div class="p-4 rounded-3 shadow-sm mx-auto" style="max-width: 800px; background-color: #ECA02D;">
            <form asp-controller="Login" class="form-container" asp-action="RedefinePassword" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" asp-for="Email" id="email" placeholder="Informe seu email"  class="form-control"/>
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="oldPassword" name="oldPassword" class="form-label">Senha antiga</label>
                        <div class="input-group">
                            <input type="password" asp-for="OldPassword" class="form-control" id="oldPassword" placeholder="Informe a senha">
                        </div>
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label for="newPassword" name="newPassword" class="form-label">Senha nova</label>
                        <div class="input-group">
                            <input type="password" asp-for="NewPassword" class="form-control" id="newPassword" placeholder="Informe a senha">
                        </div>
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Salvar
                    </button>
                    <a class="btn btn-danger" role="button" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-arrow-left-circle"></i> Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>