<!DOCTYPE html>
<html lang="pt-br">
<head>
    @model InputCreateUser
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Cadastro";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/register.css">
</head>
<body>
    <div class="register-wrapper">
        <div class="register-left">
            <h1 class="register-left-titulo">Cabeleleila Leila</h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="register-card">
                <h2>Registro</h2>
                <form asp-controller="Login" class="form-container" asp-action="Register" method="post">
                    <div class="input-group">
                        <label for="name" name="name">Nome</label>
                        <input type="text" asp-for="Name" id="name" placeholder="Informe o nome completo" required>
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group-wraper">
                        <div class="input-group">
                            <label for="email" name="email">Email</label>
                            <input type="email" asp-for="Email" id="email" placeholder="Informe seu email" required>
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <label for="mobilePhone" name="mobilePhone">Celular</label>
                            <input type="tel" asp-for="MobilePhone" id="mobilePhone" placeholder="Informe o telefone Ex: 5514991234567" required>
                            @Html.ValidationMessageFor(x => x.MobilePhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group-wraper">
                        <div class="input-group">
                            <label for="password" name="password">Senha</label>
                            <div class="input-group">
                                <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Informe a senha" required>
                                <button class="input-group-showPassword" type="button" id="showHidePassword">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <label for="confirmPassword" name="confirmPassword">Confirmação de senha</label>
                            <input type="password" asp-for="ConfirmPassword" id="confirmPassword" placeholder="Informe a senha" required>
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn">Cadastrar</button>
                        <a asp-action="Index" asp-controller="Login" class="btn register-btn">Voltar ao Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-right">
            <img src="~/img/imagem-cadastro.png" alt="Imagem cadastro" class="logo">
        </div>
    </div>
</body>
</html>