@using System.ComponentModel.DataAnnotations;
@using System;

<!DOCTYPE html>
<html>
<head>
    @model List<OutputScheduling>
    @{
        ViewData["Title"] = "Listagem de Agendamentos";
    }
</head>
<body>
    <div class="text-center">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                @TempData["ErrorMessage"]
            </div>
        }

        @if (ViewBag.UserType == EnumTypeUser.Default)
        {
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
                <a class="btn btn-success" role="button" asp-controller="Scheduling" asp-action="Create">Adicionar</a>
            </div>
        }

        <h1 class="display-4">Listagem de Agendamentos</h1>

        <table class="table" id="scheduling-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Status</th>
                    <th scope="col">Observação</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (OutputScheduling scheduling in Model)
                    {
                        var canEdit = (scheduling.DateTime - DateTime.Now)!.Value.TotalDays >= 2;

                        <tr>
                            <td>@(Model.IndexOf(scheduling) + 1)</td>
                            <td style="text-align: center; vertical-align: middle;">
                                @if (scheduling.Status == EnumStatusScheduling.WaitingConfirmation)
                                {
                                    <span style="display:inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: yellow;"></span>
                                }
                                else if (scheduling.Status == EnumStatusScheduling.Confirmed)
                                {
                                    <span style="display:inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: green;"></span>
                                }
                                else
                                {
                                    <span style="display:inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: red;"></span>
                                }
                            </td>
                            <td>@scheduling.User!.Name</td>
                            <td>@scheduling.DateTime</td>
                            <td>@(((DisplayAttribute)scheduling.Service.GetType().GetMember(scheduling.Service.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault()!).Name)</td>
                            <td>@(((DisplayAttribute)scheduling.Status.GetType().GetMember(scheduling.Status.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault()!).Name)</td>
                            <td>@scheduling.Observation</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-list"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (canEdit || ViewBag.UserType != EnumTypeUser.Default)
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-route-id="@scheduling.Id" asp-controller="Scheduling" asp-action="Update">Editar</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <span class="dropdown-item disabled" title="Edição disponível apenas via contato por telefone.">
                                                    Editar
                                                </span>
                                            </li>
                                        }

                                        @if (ViewBag.UserType == EnumTypeUser.Admin)
                                        {                                            
                                            <li>
                                                <a class="dropdown-item" asp-route-id="@scheduling.Id" asp-controller="Scheduling" asp-action="Confirm">Confirmar</a>
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item" asp-route-id="@scheduling.Id" asp-controller="Scheduling" asp-action="View">Exibir detalhes</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Nenhum agendamento cadastrado</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>